
<div class="theme-footer" id="mainFooter">
    <div class="container _ph-mob-0">
        <div class="row row-eq-height row-mob-full" data-gutter="60">
            <div class="col-md-3">
                <div class="theme-footer-section theme-footer-">
                    <a class="theme-footer-brand _mb-mob-30" href="#">
                        <img src="img/img/logo.png" alt="Image Alternative text" title="Image Title" />
                    </a>
                    <div class="theme-footer-brand-text">
                        <p>سفرآنلاین با ارائه بهترین و با کیفیت ترین خدمات گردشگری به صورت آنلاین می کوشد تا به عنوان معتبرترین شرکت گردشگری در ایران، تجربه ی لذت بخش یک رزرو اینترنتی را برایتان تداعی کند. شما در هر کجای دنیا که باشید، در هر ساعت از شبانه روز می توانید از طریق سایت الی گشت بلیط هواپیما، بلیط چارتر، رزرو هتل ارزان قیمت، تورهای مسافرتی و تور لحظه آخری را با پایین ترین نرخ ها انتخاب کنید.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">
                        <div class="theme-footer-section theme-footer-">
                            <h5 class="theme-footer-section-title">سفرآنلاین</h5>
                            <ul class="theme-footer-section-list">
                                <li>
                                    <a href="#">درباره ما</a>
                                </li>
                                <li>
                                    <a href="#">تماس با ما</a>
                                </li>
                                <li>
                                    <a href="#">قوانین و مقررات</a>
                                </li>
                                <li>
                                    <a href="#">راهنمای خرید</a>
                                </li>
                                <li>
                                    <a href="#">پرسش و پاسخ</a>
                                </li>
                                <li>
                                    <a href="#">فرصت‌های شغلی</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="theme-footer-section theme-footer-">
                            <h5 class="theme-footer-section-title">اطلاعات تکمیلی</h5>
                            <ul class="theme-footer-section-list">
                                <li>
                                    <a href="#">چارتر</a>
                                </li>
                                <li>
                                    <a href="#">رزرو بلیط هواپیما</a>
                                </li>
                                <li>
                                    <a href="#">بلیط قطار</a>
                                </li>
                                <li>
                                    <a href="#">خرید اینترنتی بلیط هواپیما</a>
                                </li>
                                <li>
                                    <a href="#">بلیط ارزان هواپیما</a>
                                </li>
                                <li>
                                    <a href="#">راهنمای استرداد بلیط</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="theme-footer-section theme-footer-">
                            <h5 class="theme-footer-section-title">مسیرهای پروازی</h5>
                            <ul class="theme-footer-section-list">
                                <li>
                                    <a href="#">بلیط هواپیما تهران به مشهد</a>
                                </li>
                                <li>
                                    <a href="#">بلیط هواپیما تهران به کیش</a>
                                </li>
                                <li>
                                    <a href="#">بلیط هواپیما تهران به شیراز</a>
                                </li>
                                <li>
                                    <a href="#">بلیط هواپیما تهران به تبریز</a>
                                </li>
                                <li>
                                    <a href="#">بلیط هواپیما تهران به اصفهان</a>
                                </li>
                                <li>
                                    <a href="#">بلیط هواپیما تهران به قشم</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="theme-footer-section theme-footer-">
                    <h5 class="theme-footer-section-title">کمک میخواهید؟</h5>
                    <ul class="theme-footer-section-list">
                        <li>
                            <a href="#">  تهران- تجریش</a>
                        </li>
                        <li>
                            <a href="#">تلفن: 021123456</a>
                        </li>
                        <li>
                            <a href="#">پست الکترونیکی :info@gmail.com  </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="theme-copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="theme-copyright-text">کلیه حقوق این سایت محفوظ و متعلق به آژانس هواپیمایی و جهانگردی سفرآنلاین می‌باشد.</p>
            </div>
            <div class="col-md-6">
                <ul class="theme-copyright-social">
                    <li>
                        <a class="fa fa-facebook" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-google" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-twitter" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-youtube-play" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-instagram" href="#"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>