<!DOCTYPE HTML>
<html lang="fa">
<head>
    <title>سایت رزرو هتل فرادرس</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/font-awesome.css" />
    <link rel="stylesheet" href="~/css/lineicons.css" />
    <link rel="stylesheet" href="~/css/weather-icons.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/css/persian-datepicker.css" />
</head>
<body>

    @Html.Partial("_Menu")

    @RenderBody()

    @Html.Partial("_Footer")

    <script src="~/js/jquery.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/owl-carousel.js"></script>
    <script src="~/js/blur-area.js"></script>
    <script src="~/js/icheck.js"></script>
    <script src="~/js/gmap.js"></script>
    <script src="~/js/magnific-popup.js"></script>
    <script src="~/js/ion-range-slider.js"></script>
    <script src="~/js/sticky-kit.js"></script>
    <script src="~/js/smooth-scroll.js"></script>
    <script src="~/js/fotorama.js"></script>
    <script src="~/js/persian-datepicker.js"></script>
    <script src="~/js/typeahead.js"></script>
    <script src="~/js/quantity-selector.js"></script>
    <script src="~/js/countdown.js"></script>
    <script src="~/js/window-scroll-action.js"></script>
    <script src="~/js/fitvid.js"></script>
    <script src="~/js/youtube-bg.js"></script>
    <script src="~/js/custom.js"></script>
</body>
</html>